.cadastrar{

    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0 auto;

}

.container-form-cadastrar{

    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

}

.form-cadastrar{

    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: var(--gray-opacity);
    padding: 50px;
    box-shadow: 0px 0px 60px rgb(0,0,0, 0.05);
    border-radius: 10px;

}

.form-cadastrar div h1{

    font-size: 18px;

}

.form-cadastrar div{

    margin-top: 10px;

}

.form-cadastrar div input{

    width: 450px;
    border: none;
    padding: 5px;
    padding-left: 10px;
    background-color: var(--text);
    border-radius: 5px;
    outline-width: 0;

}

input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
    
}
input[type=number] { 
   -moz-appearance: textfield;
   appearance: textfield;

}

.button-cadastrar{

    margin-top: 20px;
    margin-left: auto;
    width: 100px;
    color: var(--button-text);

}

.button-cadastrar:hover{

    background-color: #313131;
    color: #a7a7a7;
    cursor: pointer;

}

