.consultar{

    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0 auto;

}

.table-listapessoas{

    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

}