.login{

    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background-color: #191A1C;
    color: #ABADAE;

    

}

.painel-login{

    display: flex;
    align-items: center;
    width: auto;
    height: auto;
    background-color: var(--gray-opacity);
    border-radius: 1rem;
    padding: 2rem;
    /*border: 2px solid gray;*/

}

.login-left, .login-right{

    display: flex;
    align-items: center;
    width: auto;
    height: auto;

}

.login-right{

    flex-direction: column;
    padding-left: 1rem;

}


.login-left > img{

    width: 350px;
    height: 350px;
    border-radius: 50%;

}

.login-right > h1{

    font-family: 'Roboto Slab';
    font-size: 3rem;

}

.login-input-user{

    margin-top: 30px;

    display: flex;
    align-items: center;
    border-radius: 3px;
    padding: 2px;
    width: 98%;
    height: 40px;
    margin-right: 10px;

}

.login-input-user > input{

    background: transparent;
    outline-width: 0;
    color: var(--text);
    width: 100%;
    border-width: 1px;
    border-style: solid;
    border-color: #61616185;
    padding: 5px;
    padding-left: 8px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    
}

.login-input-user > svg{

    margin-left: 10px;
    margin-right: 5px;
    width: 20px;
    height: 20px;

}

.login-input-password{

    display: flex;
    align-items: center;
    border-radius: 3px;
    padding: 2px;
    width: 98%;
    height: 40px;
    margin-right: 10px;

    margin-bottom: 30px;

}

.login-input-password > input{

    background: transparent;
    outline-width: 0;
    color: var(--text);
    width: 100%;
    border-width: 1px;
    border-style: solid;
    border-color: #61616185;
    padding: 5px;
    padding-left: 8px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    
}

.login-input-password > svg{

    margin-left: 10px;
    margin-right: 5px;
    width: 20px;
    height: 20px;

}

.login-right button{

    background-color: #191A1C;
    color: var(--button-text);
    border: none;
    width: 6rem;

}

.login-right button:hover{

    background-color: #313131;
    color: #a7a7a7;
    cursor: pointer;

}
