.menu{

    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    margin: 0 auto;

}

.buttons{

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    height: 100%;

}

.botao{

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 10rem;
    height: 10rem;
    margin: 15px;
    border-radius: 5px;
    background-color: var(--gray-opacity);

}

.botao:hover{

    background-color: #131313;
    cursor: pointer;

}

.botao svg{

    width: 80px;
    height: 80px;

}